{% extends 'running/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - About
{% endblock %}

{% block body_block %}

<h1>About</h1>

<div class="offset-md-2 col-md-8 login-box">
  <br/>
  <h4> Got the Runs? </h4><br/><br/>
  <p>
      Got the Runs? is a website created for the Interactive Systems course at the University of Glasgow in Computer Science Year 3.
      Got the Runs? was built on the concept of enabling users to easily upload GPX files of their runs from GPS trackers and/or phones.
      The website is designed to be simple, intuitive and easy to use with a standardized navigation system. Users can register accounts
      and even login with their social accounts such as Facebook, Google, Twitter and Github using the OAuth2 standard for authentication.
      Users can also easily view the last 5 runs they uploaded on the homepage if they are logged in.
  </p>
</div>

{% endblock %}
