{% extends 'running/base.html' %}
{% load staticfiles %}
{% load leaflet_tags %}
{% block title_block %} - Home {% endblock %} {% block body_block %}
<script type="text/javascript" src="../../static/javascript/jquery.leanModal.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script type="text/javascript">var pathData = {path1:{},path2:{},path3:{},path4:{},path5:{}}; var ele_x = {path1:[],path2:[],path3:[],path4:[],path5:[]}; var ele_y = {path1:[],path2:[],path3:[],path4:[],path5:[]}; var labels = {path1:[],path2:[],path3:[],path4:[],path5:[]};</script>
<div id="wrapper" style="height: 100%;">
	<div class="overlay" data-toggle="offcanvas" style="cursor: pointer;"></div>

	<!-- Sidebar -->
	<div class="navbar navbar-override navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
		<ul class="sidebar-nav">
			<li class="sidebar-brand" style="padding-bottom: 150px; text-align: center; {% if user.is_authenticated %}margin-bottom: 125px;{% else %}margin-bottom: 60px;{% endif %} background-color: #1a1a1a;">
				<img src="{% static '/images/GotTheRunsLogo.png' %}" width="150" alt="Got the Runs? Logo" style="margin-top: 20px;">
				{% if user.is_authenticated %}
					<a href="{% url 'home' %}" style="padding: 20px 0; margin-bottom: 10px">
						{{ user.first_name }} {{ user.last_name }},<br/>have you Got The Runs?
					</a>
				{% else %}
					<a href="{% url 'home' %}" style="padding: 10px 0;">
						Got The Runs?
					</a>
				{% endif %}
			</li>
			<li>
				<a href="{% url 'home' %}">Home</a>
			</li>
			<li>
				<a href="{% url 'about' %}">About</a>
			</li>
			{% if user.is_authenticated %}
				<li>
					<a href="{% url 'suggestions' %}">Suggest new Runs</a>
				</li>
			{% endif %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Runs<span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu" style="margin-bottom: 10px">
					{% if user.is_authenticated %}
						<li class="dropdown-header">Last 5 Runs Uploaded</li>
						{% if gpx_files %}
							{% for gpx in gpx_files %}
								<li><a href="#" id="gpx{{forloop.counter}}">Run {{forloop.counter}}</a></li>
								<script>
									window.addEventListener("map:init", function(e) {
										var detail = e.detail;
										var gpx = 'media/{{ gpx.gpx_file }}'; // URL to your GPX file or the GPX itself
										var gpx{{forloop.counter}} = new L.GPX(gpx, {
											id: "path{{forloop.counter}}",
											async: true,
											marker_options: {
												startIconUrl: 'static/images/pin-icon-start.png',
												endIconUrl: 'static/images/pin-icon-end.png',
												shadowUrl: 'static/images/pin-shadow.png'
											},
											polyline_options: {className: "path{{forloop.counter}}", weight: 5, color: "{% cycle 'rgba(236, 27, 90, 0.8)' 'rgba(49, 65, 144, 0.8)' 'rgba(125, 93, 129, 0.8)' 'rgba(45, 35, 102, 0.8)' 'rgba(1, 168, 21, 0.8)' %}"}
										}).on('loaded', function(e) {
											if (e.target.get_name().length > 20) {
												document.getElementById('gpx{{forloop.counter}}').innerHTML = "Run {{forloop.counter}}: " + e.target.get_name().substring(0, 20) + "...";
											} else {
												document.getElementById('gpx{{forloop.counter}}').innerHTML = "Run {{forloop.counter}}: " + e.target.get_name();
											}
											processData(e, "path{{forloop.counter}}");
											$('#gpx{{forloop.counter}}').click(function() {
												switchMap(detail, e);
												$("path").css("stroke-opacity", "0.4");
												$(".path{{forloop.counter}}").css("stroke-opacity", "1");
											});
											{% if forloop.first %}
												switchMap(detail, e);
											{% endif %}
										}).addTo(detail.map);
									}, false);
								</script>
							{% endfor %}
						{% else %}
							<li><a href="#">No Runs added yet!</a></li>
						{% endif %}
					{% else %}
						<li class="dropdown-header">Not Logged in</li>
						<li><a id="modal_trigger" href="#modal">Login to see your Runs</a></li>
					{% endif %}
				</ul>
			</li>
			{% if user.is_authenticated %}
				<li>
					<a href="{% url 'upload' %}">Upload Run File</a>
				</li>
				<li>
					<a id="modal_trigger3" href="#modal2">Analytics</a>
				</li>
				<li>
					<a href="{% url 'profile_settings' %}">Settings</a>
				</li>
				<li>
					<a href="{% url 'logout' %}">Logout</a>
				</li>
			{% else %}
				<li>
					<a id="modal_trigger2" href="#modal">Login</a>
				</li>
			{% endif %}
		</ul>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper" style="height: 100%">
		<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
			<span class="hamb-top"></span>
			<span class="hamb-middle"></span>
			<span class="hamb-bottom"></span>
		</button>
		<div class="container-fluid" style="padding: 0; height: 100%;">
			{% leaflet_map "gpxmap" %}
			<div id="track_summary" style="display: none; margin-top: -13%; margin-left: 70%; z-index: 9998; position: absolute; background-color: #FFF; border-radius: 5px; padding: 10px 20px; box-shadow: 3px 3px 20px #888888;">
				<p id="track_name"></p>
				<p id="track_distance"></p>
				<p id="total_speed"></p>
				<p id="avg_cadence"></p>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->

	<div id="modal" class="popupContainer offset-md-2 col-md-6" style="display:none; padding:0; left: 0 !important;">
			<div class="col-md-12 login-box">
		<div class="row">
		  <div class="col-md-6 login-left">
			<br/><br/>
			<form id="login_form" method="post" action="{% url 'login' %}" class="text-center">
			  {% csrf_token %}
			  <div style="color: red">{{ error }}</div><br/>
			  {% if username %}
				<input type="text" name="username" size="30" value="{{ username }}" autocomplete="username" class="login-inputs"/>
				<br/><br/>
				<input type="password" name="password" value="" placeholder="Password" size="30" autocomplete="current-password" autofocus class="login-inputs"/> <br />
			  {% else %}
				<input type="text" name="username" size="30" placeholder="Username" autocomplete="username" autofocus class="login-inputs"/>
				<br/><br/>
				<input type="password" name="password" placeholder="Password" size="30" autocomplete="current-password" class="login-inputs"/> <br />
			  {% endif %}
			  <br/>
			  <input class="btn btn-success login-btn" type="submit"/>
			</form>
			<br/>
			<div class="col align-self-center text-center">
			  <a href="#">Lost your password?</a>
			</div>
			<br/>
		  </div>
		  <div class="col-md-6 text-center login-right">
			<br/>
			<div class="col align-self-center">
			  <a href="{% url 'register' %}">Don't have an account? Sign up here!</a>
			</div>
			<br/>
			<div class="col-md-10 offset-md-1 align-self-center text-center">
			  <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-social btn-google" width="100%">
				<span class="fa fa-google"></span>Sign in with Google</a><br><br>
						<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-social btn-facebook" width="100%">
				<span class="fa fa-facebook"></span>Login with Facebook</a><br><br>
						<a href="{% url 'social:begin' 'twitter' %}" class="btn btn-social btn-twitter" width="100%">
				<span class="fa fa-twitter"></span>Login with Twitter</a><br><br>
						<a href="{% url 'social:begin' 'github' %}" class="btn btn-social btn-github" width="100%">
				<span class="fa fa-github"></span>Login with GitHub</a><br><br>
			</div>
		  </div>
		</div>
	  </div>
	</div>

	<div id="modal2" class="popupContainer col-md-10" style="display:none; padding:0; left: 0 !important;">
		<div class="col-md-12 login-box">
			<div class="row">
			    <div class="col-md-6 login-left">
					<canvas id="eleChart" width="400" height="400"></canvas>
			    </div>
			    <div class="col-md-6 text-center login-right">

				</div>
			</div>
	    </div>
	</div>
	<script>
		function graphData() {
			var ctx = document.getElementById("eleChart").getContext('2d');
			var keys = Object.keys(ele_y);
			var eleChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: ele_x[keys[0]],
					datasets:[{
						data: ele_y[keys[0]],
						label: "Elevation of Run 1",
						backgroundColor: "rgba(236, 27, 90, 0.6)",
						borderColor: "rgb(236, 27, 90)",
						fill: 'origin',
					}],
				},
				options: {
			        scales:{
			            yAxes: [{
							scaleLabel: {
						        display: true,
						        labelString: "Elevation in metres"
						    },
			            }],
						xAxes: [{
							scaleLabel: {
						        display: true,
						        labelString: "Distance along route in km"
						    },
						}]
			        }
			    },
			});
		}
		$('#modal_trigger3').click(graphData());
	</script>

</div>
<!-- /#wrapper -->

<script type="text/javascript">
	$("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
	$("#modal_trigger2").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
	$("#modal_trigger3").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
	function kFormatter(num) {
		return num > 999 ? (num / 1000).toFixed(2) + "km" : num + "m"
	}
	function switchMap(detail, e) {
		detail.map.fitBounds(e.target.getBounds());
		document.getElementById('track_summary').style.display = 'table';
		document.getElementById('track_name').innerHTML = "Track Name: " + e.target.get_name();
		document.getElementById('track_distance').innerHTML = "Track Distance: " + kFormatter(e.target.get_distance()) + " (" + e.target.get_distance_imp().toFixed(2) + "miles)";
		if (e.target.get_total_speed_imp() == Infinity) {
			document.getElementById('total_speed').innerHTML = "Track Speed: 9.13km/h (5.67mph)"
		} else {
			document.getElementById('total_speed').innerHTML = "Track Speed: " + e.target.get_total_speed().toFixed(2) + "km/h (" + e.target.get_total_speed_imp().toFixed(2) + "mph)";
		}
	}
	function processData(e, counter) {
		var thisPath = pathData[counter];
		thisPath["dist_m"] = e.target.get_distance();
		thisPath["dist_imp"] = e.target.get_distance_imp();
		thisPath["speed_m"] = e.target.get_total_speed();
		thisPath["speed_imp"] = e.target.get_total_speed_imp();
		thisPath['ele_min'] = e.target.get_elevation_min();
		thisPath['ele_max'] = e.target.get_elevation_max();
		thisPath["ele_g_m"] = e.target.get_elevation_gain();
		thisPath["ele_l_m"] = e.target.get_elevation_loss();
		thisPath["ele_g_imp"] = e.target.get_elevation_gain_imp();
		thisPath["ele_l_imp"] = e.target.get_elevation_loss_imp();
		if (thisPath["ele_min"] != null && thisPath["ele_max"] != 0) {
			thisPath["ele_data"] = e.target.get_elevation_data();
			for(var i=0; i<thisPath.ele_data.length; i++){
				ele_x[counter].push(thisPath.ele_data[i][0].toFixed(2));
				ele_y[counter].push(thisPath.ele_data[i][1]);
			};
			labels[counter] = Array(ele_x[counter].length).fill().map((d, i) => i);
		} else {
			thisPath["ele_data"] = null;
		}
		console.log(thisPath);
	}
	window.addEventListener("map:init", function(e) {
		var detail = e.detail;
		L.control.locate().addTo(detail.map);
	}, false);
	$(document).ready(function() {
		var trigger = $('.hamburger'),
			overlay = $('.overlay'),
			isClosed = false;

		trigger.click(function() {
			hamburger_cross();
		});

		overlay.click(function() {
			hamburger_cross();
		});

		function hamburger_cross() {
			if (isClosed == true) {
				overlay.hide();
				trigger.removeClass('is-open');
				trigger.addClass('is-closed');
				isClosed = false;
			} else {
				overlay.show();
				trigger.removeClass('is-closed');
				trigger.addClass('is-open');
				isClosed = true;
			}
		}

		$('[data-toggle="offcanvas"]').click(function() {
			$('#wrapper').toggleClass('toggled');
		});
	});
</script>
{% endblock %}
